.Content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.TextContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.Title {
			font-size: 1.5rem;
			line-height: 1.816rem;
			margin: 0;

			// font-size: 2.25rem;
			// line-height: 2.75rem;
		}
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;

		gap: 2.5rem;

		.FlexColumnWrapper {
			.Description {
				padding: 0;
				margin: 0;
				line-height: 1.5rem;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.MemberContainer {
				display: flex;
				padding: 0;
				margin: 2rem 0 0 0;
				list-style: none;

				gap: 2rem;

				a {
					line-height: 1.5rem;
				}
			}

			.OptionsContainer {
				margin-top: 0.25rem;
			}
		}
	}
}
