.Content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@media only screen and (min-width: 878px) {
		margin-bottom: 3.625rem;
	}

	.TextContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		> * :last-child {
			display: none;
		}

		@media only screen and (min-width: 878px) {
			> * :last-child {
				display: flex;
			}
		}

		.Title {
			font-size: 1.5rem;
			line-height: 1.816rem;
			margin: 0;

			@media only screen and (min-width: 878px) {
				font-size: 2.25rem;
				line-height: 2.75rem;
			}
		}
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 1.5rem;

		@media only screen and (min-width: 878px) {
			flex-direction: row-reverse;
			justify-content: space-between;
		}

		.FlexColumnWrapper {
			.Description {
				padding: 0;
				margin: 0;
				line-height: 1.5rem;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.MemberContainer {
				display: flex;
				padding: 0;
				margin: 2rem 0 0 0;
				list-style: none;

				gap: 2rem;

				a {
					line-height: 1.5rem;
				}
			}

			.OptionsContainer {
				margin-top: 0.25rem;

				@media only screen and (min-width: 878px) {
					display: none;
				}
			}
		}
	}
}
