@import '../../../styles/breakpoints';

$gap: 1.5rem;

.Content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $gap;

	.TextContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.Title {
			font-size: 1.5rem;
			margin: 0;

			@include container-breakpoint(500) {
				font-size: 2.25rem;
				line-height: 2.75rem;
			}
		}
	}

	.Options {
		display: flex;

		@include container-breakpoint(500) {
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
		}
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;

		gap: $gap;

		.FlexColumnWrapper {
			display: flex;
			flex-direction: column;
			gap: $gap;

			.Description {
				padding: 0;
				margin: 0;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.MemberContainer {
				display: flex;
				flex-direction: column;
				gap: $gap;

				@include container-breakpoint(500) {
					flex-direction: row;
				}
			}
		}
	}
}
