@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	padding: 0;
	margin: 0 0 3rem 0;
	list-style: none;

	.Action {
		label {
			color: $purple-lightest;
			font-size: $size-tiny;
		}

		span:last-child {
			overflow: unset;
			margin-top: 0.75rem;
		}

		.Value {
			font-size: $size-large;
		}
	}
}
