@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';
@import '../../../styles/_breakpoints.scss';

.Container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	gap: 1.5rem;
	list-style: none;
	flex-direction: column;

	@include container-breakpoint(400) {
		flex-direction: row;
		gap: 2.5rem;
	}

	.Action {
		width: 100%;

		@include container-breakpoint(400) {
			width: auto;
		}

		label {
			color: $purple-lightest;
			font-size: $size-tiny;
		}

		span:last-child {
			overflow: unset;
			margin-top: 0.75rem;
		}

		.Value {
			font-size: $size-large;
		}
	}
}
