@import '../../../styles/breakpoints';

.Container {
	position: relative;

	/**
	 * @NOTE: 21 Oct 2022
	 * Fixing the column size while we work on AsyncTable.
	 */
	th:last-of-type {
		width: 6.25rem;
		max-width: 6.25rem;
		min-width: 6.25rem;
	}

	.Trigger {
		position: absolute;
		bottom: 75vh;
	}

	.ControlWrapper {
		> * > * {
			&:first-child {
				flex-shrink: 1;
			}

			&:last-child {
				display: none;

				@include container-breakpoint(300) {
					display: flex;
				}
			}
		}
	}

	.Grid {
		grid-template-columns: 1fr;

		@include container-breakpoint(300) {
			grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
		}
	}
}
