@import '../../../styles/breakpoints';

.Container {
	position: relative;

	/**
	 * @NOTE: 21 Oct 2022
	 * Fixing the column size while we work on AsyncTable.
	 */
	th:last-of-type {
		width: 6.25rem;
		max-width: 6.25rem;
		min-width: 6.25rem;
	}

	.Trigger {
		position: absolute;
		bottom: 75vh;
	}

	.Search {
		flex-shrink: 1;
		min-width: 0;
	}

	.Toggle {
		display: none;

		// @note: this has to match GRID_WIDTH_TOGGLE in SubdomainTable.tsx
		@include container-breakpoint(600) {
			display: flex;
		}
	}

	.Message {
		padding: 0;
		margin-top: 2rem;
		text-align: center;
		justify-content: center;
		flex-direction: column;

		@include container-breakpoint(400) {
			padding: 1rem;
			flex-direction: row;
		}
	}

	.Grid {
		grid-template-columns: 1fr;

		@include container-breakpoint(400) {
			grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
		}
	}
}
