.Main {
	margin: 0 auto;
	padding-bottom: 50px;
	max-width: 736px;

	.Content {
		margin-top: 1.5rem;
		height: unset;
		overflow: unset;

		> * {
			&:first-child {
				overflow-y: unset;
			}
		}
	}
}
