@use '../../styles/dimensions';

.Main {
	margin: 0 auto;
	padding-bottom: 50px;
	max-width: dimensions.$content-max-width;

	.Content {
		margin-top: 1rem;
		height: unset;

		> * {
			&:first-child {
				overflow-y: unset;
			}
		}
	}
}
