@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Container {
	cursor: pointer;

	&:hover {
		background: $purple-10;
	}

	.NFT {
		width: 100%;

		> div {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.Thumbnail {
			height: 2.5rem;
			width: 2.5rem;
			border-radius: 0.5rem;
		}

		.Info {
			display: flex;
			flex-direction: column;

			> *:last-child {
				font-size: 0.875rem;
				color: $grey-lighter-3;
			}
		}
	}

	.Metrics {
		width: 100%;
		min-width: 8.75rem;
	}

	.Button {
		button {
			margin-left: 1rem;
		}
	}
}
