@import '../../../../../node_modules/@zero-tech/zui/styles/_animations.scss';
@import '../../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	position: relative;
	border-radius: $radius-primary;

	input {
		font-size: $size-default;
		width: 100%;
		height: 2rem;
		background: inherit;
		border-radius: 2rem;
		padding: 0 1.5rem 0 2.5rem;
		border: 1px solid $mine-shaft;
		outline: none;
		text-align: left;
		color: $grey-lighter-2;
		transition: all $time-short linear;

		&::placeholder {
			opacity: 1;
		}

		&:hover,
		&:active,
		&:focus {
			border: 1px solid $purple-50;
		}
	}

	button {
		position: absolute;
		left: 1rem;
		top: 0.625rem;
	}
}
