@use '../../../../../zUI/src/styles/dimensions';
@use '../../../../../zUI/src/styles/typography';
@use '../../../../../zUI/src/styles/colors';

.Container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.Bid {
		display: flex;
		flex-direction: column;

		label {
			font-size: typography.$size-tiny;
			color: colors.$grey-lighter-2;
		}
	}

	.Crypto {
		margin-top: 2px;
		font-size: typography.$size-small;
		font-weight: typography.$font-weight-bold;
		line-height: 16px;
		color: colors.$text-primary;
	}

	.Fiat {
		font-size: typography.$size-tiny;
		color: colors.$grey-lighter-2;
		margin-top: 2px;
	}
}

.ButtonContainer {
	display: flex;
	justify-content: flex-end;

	.Button {
		padding: 0 8px;
	}
}
