@import '../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_dimensions.scss';
@import '../../../styles/breakpoints';

.Banner {
	position: relative;
	display: flex;

	width: 100%;

	padding: 5.375rem 1.5rem 1rem 1.5rem;
	height: 27.938rem;

	@include container-breakpoint(300) {
		height: 30.688rem;
		padding: 5.375rem 2rem 1rem 2rem;
	}

	img, video {
		max-height: 100%;
		max-width: 100%;
	}

	background: #0d0911;

	box-sizing: border-box;

	// Red radial gradient
	.Gradient {
		position: absolute;
		top: 0;
		left: 0;
		background: radial-gradient(
			50% 100% at 50% 100%,
			#f10b09 0%,
			rgba(243, 16, 15, 0) 100%
		);
		opacity: 0.2;
		height: 100%;
		width: 100%;
	}

	.Media {
		border-radius: unset;
		max-height: 100%;
		z-index: 2;
		margin: 0 auto;

		/*
		 * Hide loading skeleton while we work on a better solution
		 */
		span[aria-busy='true'] {
			display: none;
		}

		@media only screen and (min-width: 510px) {
			border-radius: $radius-primary;
		}
	}
}
