.Stats {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding: 0;
	list-style: none;

	gap: 0.5rem;

	> * {
		flex: 1;
	}

	@media only screen and (min-width: 878px) {
		flex-direction: row;

		gap: 1rem;
	}
}
