@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.TextContent {
	line-height: 1.5rem;

	&[data-variant='success'] {
		color: $success-green;
		margin-bottom: 0;
	}

	&[data-variant='warning'] {
		color: $red-100;
		margin-bottom: 0;
	}
}
