@import '../../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1.5rem;

	> *:first-child {
		margin-left: 0;
	}

	> *:last-child {
		margin-left: 0;
	}

	.LockedIcon {
		color: $blue;
	}

	.UnlockedIcon {
		color: $success-green;
	}
}
