@import '@zero-tech/zui/styles/_colors.scss';

.Field {
	display: flex;
	flex-direction: column;

	.FieldLabel {
		font-size: 0.75rem;
		color: $grey-lighter-2;
		margin: 0;
	}

	.FieldValue {
		font-size: 1rem;
		margin-top: 0;
	}
}
