@import '../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_dimensions.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.TableCardContainer {
	border: 1px solid $mine-shaft;
	border-radius: calc($radius-primary / 2) !important;

	.Footer {
		padding: 1rem;

		h5 {
			margin: 0;
			color: $text-primary;
			font-size: $size-small;
			font-weight: $font-weight-bold;
		}

		.Subheader {
			font-size: $size-tiny;
			color: $grey-lighter-2;
			word-break: break-all;
		}

		.Container {
			margin-top: 1rem;
		}
	}
}
