@import '../../../../../../../node_modules/@zero-tech/zui/styles/_theme.scss';

.TextContent {
	line-height: 1.5rem;

	&[data-variant='success'] {
		color: $color-success-11;
		margin-bottom: 0;
	}
}
