@use '../../../../../zUI/src/styles/typography';
@use '../../../../../zUI/src/styles/colors';

.Container {
	> span {
		display: flex;
		flex-direction: column;

		&.Label {
			color: #{colors.$purple-lightest};
			font-size: #{typography.$size-tiny};
		}

		&.TokenValue {
			margin-top: 2px;
			font-weight: #{typography.$font-weight-demi-bold};
			font-size: #{typography.$size-large};
		}

		&.AmountUsd {
			color: #{colors.$grey-lighter-2};
			font-size: #{typography.$size-tiny};
		}
	}

	.Button {
		display: flex;
		align-items: center;
		height: 2rem;
		margin-top: 1rem;
	}
}
