@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	margin-top: 1.5rem;

	@media only screen and (min-width: 878px) {
		margin: 0 0 3rem 0;
	}

	.Link {
		color: $blue;
		font-size: $size-tiny;
	}
}
