@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	margin-top: 1.5rem;

	.Link {
		color: $blue;
		font-size: $size-tiny;
	}
}
