@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

@import '../../../styles/breakpoints';

.Info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	@include container-breakpoint(500) {
		flex-direction: row;
		gap: 1rem;
	}
}
