@import '../../../node_modules/@zero-tech/zui/styles/_dimensions.scss';


.BannerContainer {
	position: relative;
	margin: 5rem auto 0 auto;
	text-align: center;
	max-width: 50rem;

	box-sizing: border-box;
}
