@import '../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;

	@media only screen and (min-width: 878px) {
		&.isSingleAction {
			padding: 0.75rem;
		}
	}

	button {
		width: 100%;
		margin-top: 0.75rem;
		text-transform: unset;
	}

	.PrimaryAction {
		label {
			color: $purple-lightest;
			font-size: $size-tiny;
		}

		span:last-child {
			overflow: unset;
		}

		.Values {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;

			gap: 0.25rem;

			@media only screen and (min-width: 878px) {
				flex-direction: column;

				&.isSingleAction {
					flex-direction: row;
				}
			}

			.TokenValue {
				font-size: 20px;
				line-height: 1.5rem;
				font-weight: $font-weight-demi-bold;
			}

			.FiatValue {
				color: #bfbfbf;
				font-size: $size-tiny;
				font-weight: $font-weight-regular;
				line-height: 0.908rem;
			}
		}
	}

	.SecondaryAction {
		display: none;
		font-size: $size-small;
		line-height: 1.063rem;
		color: #a09fa6;

		@media only screen and (min-width: 878px) {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}
