@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	width: 640px;
}

.ErrorMessage {
	display: block;
	margin-top: 0.75rem;

	color: $helitrope;
	font-size: $size-small;
	font-weight: $font-weight-bold;
	text-align: center;
}
