@use '../../../../zUI/src/styles/colors';
@use '../../../../zUI/src/styles/typography';

.Container {
	width: 640px;
}

.ErrorMessage {
	display: block;
	margin-top: 0.75rem;

	color: #{colors.$helitrope};
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	text-align: center;
}
