@import '../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.DetailsContainer {
	display: flex;
	word-break: break-word;
	gap: 1.5rem;

	.Media {
		height: 16.75rem;
		width: 16.75rem;
		flex-shrink: 0;
		border-radius: 0.5rem;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: calc($radius-primary / 2);
		}
	}

	.Details {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		padding: 0;

		.DomainTitle {
			margin: 0;
			font-size: $size-large;
			font-weight: $font-weight-bold;
		}

		.Domain {
			color: $blue;
			margin-top: 0.25rem;
		}

		.MemberTitle {
			font-size: $size-tiny;
			color: $grey-lighter-2;
			margin-top: 1rem;
		}

		.MemberAddress {
			font-size: $size-medium;
		}
	}
}
