@import '../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Container {
	$thumbnail-height: 7.5rem;

	display: flex;
	flex-direction: column;

	.Banner {
		width: 100%;
		height: 15rem;
		border-radius: calc($radius-primary / 2);

		// so height includes thumbnail
		margin-bottom: $thumbnail-height / 2;

		.Media {
			height: 100%;
			width: 100%;
			border-radius: inherit;
		}

		.Thumbnail {
			margin-top: $thumbnail-height / -2;
			padding-bottom: 2.5rem;

			.Icon {
				height: $thumbnail-height;
				width: $thumbnail-height;
				margin-left: 0.5rem;
				border-radius: 50%;
				box-shadow: 0 0 1rem rgba($black, 0.5);
				z-index: 2;
			}
		}
	}
}
