@import '../../../../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	width: 100%;
}

.Image {
	width: 100%;
	height: 296px;
	border-radius: $radius-primary;
	object-fit: cover;
}

.Available {
	margin-top: 24px;
	margin-bottom: 24px;
}

.Available span {
	font-size: $size-tiny;
	color: $grey;
}

.Available h2 {
	font-weight: $font-weight-bold;
}

.Button {
	margin: 25px auto 0 auto;
}

.Green {
	color: $success-green;
}

.Orange {
	color: $red-100;
}

.Checking {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Checking span {
	margin-left: 16px;
}
