@import '../../styles/breakpoints';
@import '../../styles/dimensions';

.Main {
	$bottom-padding: 5rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	margin: 0 auto;
	max-width: $content-max-width;
	padding: 0 $content-gutter $bottom-padding $content-gutter;

	box-sizing: border-box;
}
