@use '../../../../node_modules/@zero-tech/zui/styles/colors';

.Field {
	display: flex;
	flex-direction: column;

	.FieldLabel {
		font-size: 0.75rem;
		color: #{colors.$grey-lighter-2};
		margin: 0;
		line-height: 1rem;
	}

	.FieldValue {
		font-size: 1rem;
		margin-top: 0;
	}
}