@use '../../../../node_modules/@zero-tech/zui/styles/colors';

.Footer {
	margin-top: 5rem;
}

.InputExtraInfo {
	text-align: right;
	font-size: 0.75rem;
	color: $blue;
	margin: 0.5rem 1.5rem 0 0;
	display: block;

	&.hasInputError {
		margin-top: -0.6rem;
	}
}
