@import '../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.125rem;
	gap: 2.5rem;

	.NFTSection {
		display: flex;
		flex-direction: row;
		word-break: break-word;
		gap: 1.5rem;

		// TODO: temporary
		.Media {
			height: 16.25rem;
			width: 16.25rem;
			flex-shrink: 0;
			border: 1px solid $grey;
			border-radius: 0.5rem;

			.Image {
				height: 100%;
				width: 100%;
				border-radius: inherit;
			}
		}

		.Details {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
			padding: 0;

			.Title {
				font-size: $size-large;
				font-weight: $font-weight-bold;
				line-height: 1.816rem;
				margin: 0;
			}

			.ZNA {
				line-height: 1.5rem;
				color: $blue;
				margin-top: 0.25rem;
			}

			.InfoTitle {
				font-size: $size-tiny;
				line-height: 0.908rem;
				color: $grey-lighter-2;
				margin-top: 1rem;
			}

			.InfoValue {
				line-height: 1.5rem;
			}

			.ActionContainer {
				margin-top: 1rem;
			}
		}
	}

	.InputSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.TextContent {
			line-height: 1.5rem;

			&:first-child {
				margin-bottom: 1.5rem;
			}

			&[data-variant='warning'] {
				color: $red-100;
				margin-bottom: 0;
			}
		}

		.Error {
			color: $red-300;
			line-height: 24px;
			text-align: center;
			margin-top: 1rem;
		}
	}
}
