@import '../../../../../../../node_modules/@zero-tech/zui/styles/_animations.scss';
@import '../../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';


.Button {
	margin: 40px auto 0 auto;
}

.Green {
	color: $success-green;
}

.Error {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	color: $red-300;
	text-align: center;
}

.Terms {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 40px;
}

.Terms * {
	cursor: pointer;
}

.Terms input {
	opacity: 0;
	position: absolute;
}

.Terms div {
	position: relative;
	height: 16px;
	width: 16px;
	border: 1px solid $blue;
	border-radius: 4px;
	transition: border-color $time-short ease;
}

.Terms .Selected {
	border-color: $japanese-laurel;
	background-color: $success-darker;
}

.Terms div::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../../../../../assets/check.svg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: opacity $time-short ease;
}

.Terms .Selected::after {
	opacity: 1;
}

.Terms button {
	font-weight: $font-weight-regular;
}

.Terms label {
	margin-left: 8px;
}