@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Form {
	display: flex;
	flex-direction: column;
	align-items: center;

	.ErrorMessage {
		color: $red-300;
		font-size: $size-default;
		font-weight: $font-weight-bold;
		line-height: 1.5rem;
		margin-top: 2.5rem;
	}

	.Confirmation {
		margin-bottom: 1.125rem;
	}
}
