@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Member {
	display: flex;
	flex-direction: column;

	.Title {
		font-size: $size-tiny;
		margin-bottom: 0.125rem;

		&[data-variant='primary'] {
			color: $purple-lightest;
		}

		&[data-variant='secondary'] {
			color: $grey-lighter-2;
		}
	}

	.Address {
		font-size: $size-medium;
		min-width: 4.375rem; // 70px - width of truncated address
	}
}
