@import '../../../../../node_modules/@zero-tech/zui/styles/_theme.scss';
@import '../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.Button {
		margin-top: 2.5rem;
	}

	.Confirmation {
		margin-bottom: 1.125rem;
		white-space: pre-line;
	}

	.UserBalanceContainer {
		display: flex;
		flex-direction: column;

		.Label {
			color: $color-greyscale-11;
			font-size: $size-tiny;
			line-height: 0.908rem;
		}

		.Balance {
			line-height: 1.5rem;
		}
	}
}
