@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
