@import '../../../node_modules/@zero-tech/zui/styles/_theme.scss';
@import '../../styles/breakpoints';

$width: 440px;
$gutter: 16px;

.Container {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@media (max-width: $width) {
		height: 100vh;
		width: 100vw;
	}

	@media (min-width: $width) {
		width: $width;
		min-width: $width;
		max-width: $width;
		max-height: 80vh;
	}

	.Header {
		margin: 3rem 2.5rem 0.25rem 2.5rem;

		h1 {
			margin: 0 0 0.5rem 0;
		}
	}

	.Message {
		text-align: center;
		padding-bottom: 1rem;
	}

	.BidList {
		height: 100%;
		max-height: 100%;
		margin: -2.5rem 0 0 0;
		padding: 0 0 1.5rem 0;

		overflow-y: auto;
		overflow-x: visible;

		.BidItem {
			&:hover {
				background: $color-primary-2;
			}

			.BidContent {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				margin: 0 2.1rem 0 2.5rem;

				.TextContent {
					margin: 0.813rem 0;
				}
			}
		}
	}

	.Loading {
		margin-bottom: 2.5rem;
	}
}
