@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Container {
	padding: 0;
	margin: 0;
	max-height: 80vh;
	padding-bottom: 1.5rem;
	overflow-y: auto;
	overflow-x: visible;

	&::-webkit-scrollbar-corner {
		background: $black;
		height: 0;
		width: 0;
	}

	&::-webkit-scrollbar-track {
		background-color: none;
	}

	&::-webkit-scrollbar {
		width: 0.375rem;
		background-color: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.625rem;
		background-color: rgba(177, 78, 255, 0.2);
	}

	.Bid {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 0 0.75rem 2.5rem;
		margin: 0;
		overflow: visible;
		justify-content: space-between;

		button {
			margin-right: 1rem;
		}
	}
}
