@import '../../../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Container {
	display: flex;
	align-items: center;
	background: $purple-10;
	border-radius: calc($radius-primary / 2);
	height: 2.313rem;

	.Icon {
		color: $blue;
	}

	button {
		display: flex;
		justify-content: center;
		width: 3.5rem;
		border: none;
		background: none;
	}
}
