@import '../../../../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../../../../node_modules/@zero-tech/zui/styles/_theme.scss';

.Options {
	display: flex;
	align-items: center;
	background: $color-primary-2;
	border-radius: calc($radius-primary / 2);
	height: 2.313rem;
	z-index: 2;

	.Icon {
		color: $color-secondary-11;
	}

	.Button {
		display: flex;
		justify-content: center;
		width: 3rem;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;
	}
}
