@import '../../../node_modules/@zero-tech/zui/styles/_borders.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;

	.Content {
		&.isNFTView {
			margin-top: 0;
		}
	}
}
