@import '../../../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

@import '../../../../variables';

.Container {
	display: flex;
	width: 100%;
	gap: $modal-gap;

	word-break: break-word;

	@media (max-width: $modal-width) {
		flex-direction: column;
	}

	@media (min-width: $modal-width) {
		flex-direction: row;
	}

	.Media {
		height: 16.25rem;
		width: 100%;
		flex-shrink: 0;
		box-sizing: border-box;

		@media (max-width: $modal-width) {
			margin: 0 auto;
		}

		@media (min-width: $modal-width) {
			width: 16.25rem;
			border-radius: 0.5rem;
		}

		.Image {
			height: 100%;
			width: 100%;
			border-radius: inherit;
		}
	}

	.Details {
		display: flex;
		flex-direction: column;
		gap: $modal-gap;

		@media (min-width: $modal-width) {
			margin-top: 1rem;
		}

		.Domain {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.Title {
				font-size: $size-large;
				font-weight: $font-weight-bold;
				margin: 0;
			}

			.ZNA {
				font-size: $size-tiny;
				color: $grey-lighter-2;
			}

		}


		.TextContent {
			display: flex;

			@media (max-width: $modal-width) {
				gap: 2rem;
				flex-direction: row;
				flex-wrap: wrap;
			}

			@media (min-width: $modal-width) {
				gap: $modal-gap;
				flex-direction: column;
			}
		}
	}
}
