@import '../../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	overflow-y: auto;
	max-height: 60vh;
	padding: 0 0.5rem;

	&[data-variant='locked'] {
		opacity: 0.5;
		overflow-y: hidden;
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;

		.InputWrapper {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			width: 100%;

			.Input {
				width: 100%;
				gap: 0.25rem;

				> *:last-child {
					width: unset;
				}
			}
		}
	}

	.AdvancedSettings {
		border-top: 2px solid $grey-lighter-2;

		h5 {
			margin: 0.5rem 0;
			line-height: 1.5rem;
		}

		.SwitchGroup {
			display: flex;
			flex-direction: column;

			.SwitchRow {
				display: flex;
				flex-direction: row;
				padding: 1rem 0;
				border-bottom: 1px solid $mine-shaft;
			}
		}
	}

	&::-webkit-scrollbar-corner {
		background: $black;
		height: 0;
		width: 0;
	}

	&::-webkit-scrollbar-track {
		background-color: none;
	}

	&::-webkit-scrollbar {
		width: 0.25rem;
		background-color: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.625rem;
		background-color: rgba(60, 161, 255, 0.2);
	}

	.Confirmation {
		margin-bottom: 1.125rem;
		white-space: pre-line;
	}
}

.FooterLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5rem;
	margin-top: 1.5rem;

	&[data-variant='warning'] {
		color: $red-100;
	}

	&[data-variant='error'] {
		color: $red-300;
		font-weight: $font-weight-bold;
	}

	&[data-variant='success'] {
		color: $success-green;
		font-weight: $font-weight-bold;
	}
}

.Buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1.5rem;

	> *:first-child {
		margin-left: 0;
	}

	> *:last-child {
		margin-left: 0;
	}

	.LockedIcon {
		color: $blue;
	}

	.UnlockedIcon {
		color: $success-green;
	}
}
